<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCollab - Desenvolvedores</title>
    <link rel="stylesheet" href="../Style/devs.css">
    <link rel="icon" href="../ProjetoWeb1/Archives/icons8-code-64.png">
    
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            <a href="../../index.html">
                <img src="../../ProjetoWeb1/Archives/icons8-code-64.png">
            </a> 
            <div>
                <a class="logo-icon" href="../../index.html">CodeCollab</a>            
            </div>        
        </div>
        <ul class="menu">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="desenvolvedores.html">Desenvolvedores</a></li>
        </ul>
    </nav>

    <div class="developers">
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Thur.jpeg" alt="Arthur">
            </div>
            <div class="info">
                <h2>Arthur <br> Augusto</h2>
                <a href="https://github.com/lessthur" class="github-link" target="_blank">
                    <img src="../Archives/github-mark-white.png" width="30" height="30" alt="GithubIcon">
                    <p>GitHub</p>
                </a>
            </div>
        </div>
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Felipe.jpeg" alt="Felipe">
            </div>
            <div class="info">
                <h2>Felipe <br> Witkowsky</h2>
                <a href="https://github.com/feehzinhowit" class="github-link" target="_blank">
                    <img src="../Archives/github-mark-white.png" width="30" height="30" alt="GithubIcon">
                    <p>GitHub</p>
                </a>
            </div>
        </div>
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Henry.jpg" alt="Henriquy">
            </div>
            <div class="info">
                <h2>Henriquy <br> Dias</h2>
                <a href="https://github.com/henriquydta" class="github-link" target="_blank">
                    <img src="../Archives/github-mark-white.png" width="30" height="30" alt="GithubIcon">
                    <p>GitHub</p>
                </a>
            </div>
        </div>
    </div>
    
    <footer>
        <p>&copy; 2024 CodeCollab. Todos os direitos reservados.</p>
    </footer>
    
</body>
</html>