<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navegação</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">CodeCollab</div>
        <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="desenvolvedores.html">Desenvolvedores</a></li>
        </ul>
    </nav>

    <div class="developers">
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Thur.jpeg" alt="Arthur">
            </div>
            <div class="info">
                <h2>Arthur Augusto</h2>
                <a href="https://github.com/lessthur">Link do GitHub</a>
            </div>
        </div>
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Felipe.jpeg" alt="Felipe">
            </div>
            <div class="info">
                <h2>Felipe Witkowsky</h2>
                <a href="#">Link do GitHub</a>
            </div>
        </div>
        <div class="developer-card">
            <div class="photo">
                <img src="../Archives/Henry.jpg" alt="Henriquy">
            </div>
            <div class="info">
                <h2>Henriquy Dias</h2>
                <a href="https://github.com/henriquydta">Link do GitHub</a>
            </div>
        </div>
    </div>
    
</body>
</html>