<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">HenryCistos</div>
        <ul class="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="desenvolvedores.html">Desenvolvedores</a></li>
        </ul>
    </nav>

    

</body>
</html>