<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navegação</title>
    <link rel="stylesheet" href="../Style/about.css">

    <nav class="navbar">
        <div class="logo">
            <a class="logo-icon" href="../../index.html">CodeCollab</a>            
        </div>
        <ul class="menu">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="desenvolvedores.html">Desenvolvedores</a></li>
        </ul>
    </nav>
</head>
<body>

    <br>
    <h1>Sobre o Projeto:</h1>

    <br>
    <div class="technologies-titles-card">
        <h2>Tecnologias Utilizadas</h2>
    </div>

    <div class="about-container">
        <div class="about-card">
            <h2>Desenvolvimento com HTML5</h2>
            <p><strong>HTML5:</strong> O responsável pela estruturação do nosso projeto. Utilizamos tags semânticas como <code>&lt;nav&gt;</code>, <code>&lt;section&gt;</code>, e <code>&lt;footer&gt;</code> para garantir que nosso código fosse bem organizado e acessível.</p>
            <div class="about-images">
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" target="_blank">
                    <img src="../Archives/HTML5IconPng.png" width="70" height="70" alt="Html5" class="about-image">
                </a>
            </div>
        </div>

        <div class="about-card">
            <h2>Desenvolvimento com CSS3</h2>
            <p><strong>CSS3:</strong> Estilizando as páginas. Utilizamos Flexbox e Grid Layout para criar layouts responsivos, e animações em CSS para proporcionar uma experiência visualmente melhor ao usuário.</p>        
            <div class="about-image">
                <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="_blank">
                    <img src="../Archives/Css3Icon.webp" width="70" height="70" alt="Css3" class="css-image">
                </a>
            </div>
        </div>

        <div class="about-card">
            <h2>Versionamento de Código com Git & GitHub</h2>
            <p><strong>Git:</strong> Controle de Versão Eficiente. Com o versionamento de código, pudemos trabalhar de forma organizada e segura, registrando cada mudança com commits claros.</p>
            <p><strong>GitHub:</strong> Colaboração e Publicação. GitHub serviu como nosso repositório remoto, facilitando a colaboração e a revisão de código através de commits, merges e pushs.</p>
            <div class="about-images">
                <a href="https://docs.github.com/pt" target="_blank">
                    <img src="../Archives/github-mark-white.png" width="63" height="63" alt="GitHub">
                </a>
                <a href="https://git-scm.com/docs/git/pt_BR" target="_blank">
                    <img src="../Archives/GitIcon3.webp" width="70" height="70" alt="Git">
                </a>
            </div>
        </div>

        <div class="about-card">
            <h2>Ferramentas de Desenvolvimento</h2>
            <p><strong>VS Code:</strong> O Visual Studio Code se destacou como a escolha principal de ambiente de desenvolvimento. Com plugins eficientes para HTML, CSS e Git, o gerenciamento de código foi simplificado, e a produtividade foi otimizada grandemente. Sua interface intuitiva e recursos robustos tornaram o desenvolvimento mais ágil e conciso, garantindo projetos de alta qualidade de forma rápida.</p>
            <div class="about-images">
                <a href="https://code.visualstudio.com/docs" target="_blank">
                    <img src="../Archives/VsCodeIcon2.webp" width="70" height="70" alt="VsCode" class="about-image">
                </a>
            </div>
        </div>
    </div>

    <div class="workflow-titles-card">
        <h2>Fluxo de Trabalho do Projeto</h2>
    </div>

    <section class="workflow-container">
        <div class="workflow-card">
            <h2> 1: Planejamento e Estruturação</h2>
            <p>
                No início do projeto, realizamos um planejamento detalhado, definindo o escopo, objetivos e requisitos. Organizamos a estrutura de pastas e arquivos para garantir uma base sólida para o desenvolvimento. Além disso, organizamos quanto tempo e qual a disponibilidade da equipe para lidar com o projeto.
            </p>
        </div>

        <div class="workflow-card">
            <h2> 2: Desenvolvimento</h2>
            <p>Iniciamos o desenvolvimento criando o HTML básico que define a estrutura do projeto, a HomePage, e logo em seguida, as outras páginas (Sobre e Desenvolvedores). Em paralelo, estilizamos os layouts utilizando CSS para garantir uma apresentação visual atraente e funcional.</p>
        </div>

        <div class="workflow-card">
            <h2> 3: Versionamento com Git/Github</h2>
            <p>Utilizamos o Git e o GitHub para controlar as versões e alterações do projeto. Criamos repositórios locais e remotos para gerenciar alterações, realizando sempre revisões de código, feedbacks e integrações contínuas para melhorar o projeto. Essas ferramentas foram muito úteis para o nosso projeto, pois facilitaram o trabalho em equipe e garantiram a integridade do código ao longo de seu desenvolvimento.</p>
        </div>

        <div class="workflow-card">
            <h2> 4: Desenvolvimento no VS Code</h2>
            <p>O Visual Studio Code foi a nossa principal ferramenta de desenvolvimento. Utilizamos seus recursos avançados, como extensões específicas para HTML, CSS, para aumentar a produtividade e qualidade do código. Utilizamos também sua ótima estruturação de arquivos para melhor organização e orientação.</p>
        </div>

        <div class="workflow-card">
            <h2> 5: Testes e Ajustes Finais</h2>
            <p>Realizamos testes complexos para verificar a funcionalidade e usabilidade do projeto. Corrigimos possíveis bugs e realizamos ajustes finais no design e no código para garantir uma experiência de usuário consistente e satisfatória.</p>
        </div>

        <div class="workflow-card">
            <h2> 6: Deploys e Publicação</h2>
            <p>Finalmente, preparamos o projeto para o lançamento. Utilizamos serviços como GitHub Pages para publicar o projeto online, garantindo que ele esteja acessível na web.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 CodeCollab. Todos os direitos reservados.</p>
    </footer>

</body>
</html>