@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    // background-color: rgba(45, 50, 80, 0.85);
    color: white;
    text-align: center;
    background:
    linear-gradient(
      rgba(45,50,80,.85),rgba(45,50,80,.85)
    ),
    url(../Archives/Background_Dev.png) no-repeat center center fixed;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #676f9d;
    padding: 10px 150px;
    text-align: center;
}

.navbar a {
    background-color: #424769;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease, border-radius 0.6s ease;
    text-align: center;
}

.navbar a:hover {
    background-color: #2d3250;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.2);
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.navbar .menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar .menu li {
    margin: 0 10px;
    align-items: center;

}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    .navbar .menu {
        flex-direction: column;
        width: 100%;
    }
    .navbar .menu li {
        width: 100%;
        text-align: center;
        margin: 0;

    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* "área" dos desenvolvedores */
.developers {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-wrap: wrap;
    position: absolute;
    top: 50%; /* Posiciona no centro vertical da página */
    left: 50%; /* Posiciona no centro horizontal da página */
    transform: translate(-50%, -50%); /* Centraliza perfeitamente */
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 1200px; /* Limita a largura máxima para um layout responsivo */
    padding: 0 20px; /* Adiciona espaçamento nas laterais */
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

/* estilo dos cards de desenvolvedor */
.developer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 55px;
    background-color: #676f9d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    margin: 20px;
}

.developer-card:hover {
    transform: translateY(-10px);
}

.photo {
    width: 175px;
    height: 175px;
    background-color: #ddd;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    text-align: center;
}

.info h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info a {
    font-size: 18px;
    color: #2d3250;
    text-decoration: none;
    transition: color 0.3s ease;
}

.info a:hover {
    color: #FFFFFF;
}

.github-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.github-link img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

.github-link p {
    margin: 0;
}

/* Estilos para o banner principal */
.banner {
    width: 100%;
    height: auto;
    text-align: justify;
    margin-bottom: 20px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Estilos para a seção de boas-vindas */
.welcome-section {
    text-align: justify;
    justify-content: center;
    padding: 20px;
    background-color: #676f9d;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.4s ease;
}

.welcome-section:hover {
    transform: translateY(-7px);
}

/* Estilos para a seção de tecnologias */
.technologies-section {
    text-align: center;
    padding: 20px;
    background-color: #676f9d;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.4s ease;
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.technologies-section:hover {
    transform: translateY(-10px);
}