/* Classes destinadas à página SOBRE */

/* CLASSES PRINCIPAIS UTILIZADAS EM TODAS AS PÁGINAS: */
/* ------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    background:radial-gradient(#000c61, #424769); 
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #676f9d;
    padding: 10px 150px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    flex-wrap: wrap;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo a {
    color: white;
    text-decoration: none;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.navbar .menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar .menu li {
    margin: 0 10px;
}

.menu > li > a {
    background-color: #424769;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, border-radius 0.4s ease;
    text-align: center;
}

.menu > li > a:hover {
    background-color: #2d3250;
    transform: scale(1.1);
}

/* Media query para telas menores */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    
    .navbar .logo {
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .navbar .menu {
        justify-content: center;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    
    .navbar .menu li {
        margin: 0 5px;
    }
}

/* ------------------------------------------------------------------------------------------------------------- */

.logo-icon {
    text-decoration: none;
    color: white;
}

.technologies-titles-card{
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: rgba(103, 111, 157, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px auto;
    transition: transform 0.3s ease;
    max-width: 400px;
    margin-top: 75px;
}

.technologies-titles-card h2{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}

.technologies-titles-card:hover{
    transform: translateY(-5px);
}

/* Estilos para a seção de tecnologias */
.technologies-section {
    text-align: center;
    padding: 20px;
    background-color: #676f9d;
    border-radius: 10px;
    margin: 20px auto;
    transition: transform 0.3s ease;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.technologies-section:hover {
    transform: translateY(-7px);
}

/* Container para os cards da seção "Sobre" */
.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
}

/* Cards da seção de Tecnologia */
.about-card {
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 1 calc(50% - 20px); /* Ocupa metade da largura da tela, ajustando para o gap */
    transition: transform 0.3s ease;
    text-align: justify; /* Alinha o texto justificado */
}

.about-card:hover {
    transform: translateY(-7px);
}

.about-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px; /* Reduzido o espaço abaixo do título */
}

.about-card p, .about-card ul {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Estilo para as imagens nos cards da seção "Sobre" */
.about-image {
    width: 70px; /* Tamanho da imagem */
    height: auto;
    display: block;
    margin: 0 auto 15px; /* Centraliza a imagem e ajusta margem inferior */
    border-radius: 0; /* Remove bordas */
    box-shadow: none; /* Remove sombra */
    transition: transform 0.3s ease;
}

.about-image:hover {
    transform: translateY(-5px);
}

/* Tamanho específico para a imagem do CSS */
.css-image {
    height: 78px;
    width: 78px; /* Ajuste para o tamanho desejado */
}

.about-images {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espaçamento entre as imagens */
    margin-bottom: 15px; /* Adiciona margem inferior entre as imagens e o texto */
    transition: transform 0.3s ease;
}

.about-images a {
    display: inline-block; /* Garante que os links se comportem como blocos */
    transition: transform 0.3s ease; 
}

.about-images a:hover {
    transform: translateY(-5px); 
}

.about-images img {
    width: 70px; /* Tamanho padrão das imagens */
    height: auto;
    margin: 0; /* Remove margens extras */
    border-radius: 0; 
    box-shadow: none;
}

.workflow-titles-card{
    text-align: center;
    justify-content: center;
    padding: 15px;
    background-color: #676f9d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px auto;
    transition: transform 0.3s ease;
    max-width: 400px;
}

.workflow-titles-card:hover {
    transform: translateY(-7px);
}

.workflow-titles-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}

.workflow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
    padding: 20px;
}

.workflow-card {
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 0 1 calc(50% - 20px); /* Ocupa metade da largura da tela, ajustando para o gap */
    transition: transform 0.3s ease;
    text-align: justify; /* Alinha o texto justificado */
}

.workflow-card:hover {
    transform: translateY(-7px);
}

.workflow-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px; /* Reduzido o espaço abaixo do título */
}

.workflow-card p, .workflow-card ul {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.active{
    background-color: #2d3250 !important;
}

.circles{
    display: flex;
    gap: 6px;
    margin-bottom: 12px;
}

.circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#cl1{
    background: red;
}

#cl2{
    background: orange;
}

#cl3{
    background: rgb(25, 184, 25);
}

.workflow-elements{
    position: relative;
}

.workflow {
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify; /* Alinha o texto justificado */
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 98%;
}

.workflow:hover{
    transform: translateY(-7px);
}

.workflow h2{
    font-size: 27px;
}

.workflow img{
    width: 350px;
    height: 350px;
    align-items: center;
}

.workflow-image{
    display: flex;
    align-items: center;
    justify-content: end;
}

.itens{
    margin-left: 36px;
}

.itens-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    position: relative;
}

.vertical-line{
    position: absolute;
    background: #fff;
    width: 4px;
    border-radius: 16px;
    height: 100%;
    margin-left: 10px;
}

.second-workflow-elements{
    position: relative;
}

.second-workflow-card{
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify; /* Alinha o texto justificado */
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 98%;
}

.second-workflow-card:hover{
    transform: translateY(-7px);
}

.second-workflow-card h2{
    font-size: 27px;
    text-align: left;
}

.second-workflow-card img{
    width: 400px;
    height: 300px;
    align-items: center;
}

.second-itens-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    position: relative;
    margin-right: 40px;
}

.second-itens{
    margin-left: 36px;
}

.second-workflow-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-vertical-line{
    position: absolute;
    background: #fff;
    width: 4px;
    border-radius: 16px;
    height: 100%;
    margin-right: 10px;   
    right: 0;
    top: 0;
}

@media (max-width: 900px) {
    .technologies-titles-card {
        margin-top: 150px;
    }

    .about-container {
        flex-direction: column;
    }

    .workflow {
        grid-template-columns: 1fr;
    }

    .workflow-image {
        justify-content: center;
    }

    .second-workflow-card {
        grid-template-columns: 1fr;
    }
}