/* Classes destinadas à HOMEPAGE */

/* CLASSES PRINCIPAIS UTILIZADAS EM TODAS AS PÁGINAS: */
/* ------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    background:radial-gradient(#000c61, #424769); 
    color: white;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #676f9d;
    padding: 10px 150px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    flex-wrap: wrap;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .logo a {
    color: white;
    text-decoration: none;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.navbar .menu {
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar .menu li {
    margin: 0 10px;
}

.menu > li > a {
    background-color: #424769;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, border-radius 0.4s ease;
    text-align: center;
}

.menu > li > a:hover {
    background-color: #2d3250;
    transform: scale(1.1);
}

/* Media query para telas menores */
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
    }
    
    .navbar .logo {
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .navbar .menu {
        justify-content: center;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    
    .navbar .menu li {
        margin: 0 5px;
    }

    .animation {
        padding-top: 55px;
    }
}

/* Estilo do footer */
footer {
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------- */

/*Card utilizado nos textos de Sobre*/
.text-card {
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.5);
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    transition: transform 0.3s ease;
    text-align: left;
    justify-content: center;
}

.text-card h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text-card a { 
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.text-card p, .text-card ul {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.6;
    margin-left: 20px; /* Ajuste para alinhar listas */
}

.text-card:hover {
    transform: translateY(-7px);
}

.card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 98%;
    margin: auto auto;
    gap: 15px;
}

@media (max-width: 768px) {
    .card {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

.animation {
    animation-duration: 10s;
    animation-name: Animacao;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    overflow: hidden; /* Garantir que o texto não ultrapasse os limites do container */
    white-space: nowrap; /* Evitar que o texto quebre em várias linhas */
}

.animation h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block; /* Certificar-se de que o elemento se comporte corretamente na animação */
    margin-top: 75px;
    z-index: 2;
}

@keyframes Animacao {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    40% {
        transform: translateX(0%);
        opacity: 1;
    }
    60% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.card-container {
    position: relative;
    padding: 20px;
    background-color: rgba(103, 111, 157, 0.6);
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 98%;
    transition: transform 0.3s ease;
    text-align: left;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 30%;
    max-height: 470px;
    margin-bottom: -6px;
}

.card-container div{
    max-height: 370px;
    display: flex;
    align-items: center;
}

.card-container img {
    transform: scale(0.8);
}

.card-container:hover {
    transform: translateY(-7px);
}

.container-text {
    height: 470px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.container-text a{
    color: white;
    text-decoration: none;
    border-radius: 17px;
    padding: 16px;
    background-color: #62699d;
    margin-top: 35px;
}

.container-text a:hover{
    background-color: #2d3250;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr; /* Altera para uma coluna em telas menores */
        max-height: none;
        justify-content: center;
        text-align: center;
    }

    .container-text {
        width: 100%; /* Ajustado para preencher a largura total */
        padding: 20px; /* Adiciona padding para melhor visualização em telas pequenas */
    }

    .card-container img {
        transform: scale(0.6); /* Ajusta a escala da imagem para telas menores */
    }
}

.active{
    background-color: #2d3250 !important;
}